.session-result {
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 80%;
}

 th {
    font-size: 1.3rem;
} 
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 20%;
}

thead {
  background-color: #e5e4e2;
}

tbody:nth-child(odd) {
  background-color: #dddddd;
}

.session-result a {
  color: blue;
}
.loading-message {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .session-result {
    width: 40%;
  }
}
